/* line 1, /Users/deniseyu/Dropbox/Makers/projects/wellbeing-measure/app/assets/stylesheets/static.css.scss */
.btn {
  padding: 20px;
  background-color: blue;
  text-decoration: none;
  color: white;
  font-family: 'Helvetica Neue';
}
