<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @participant.first_name %>,</h1>

    <% unless @record.notes.empty? %>
    <p>A note from the study administrator: <%= @record.notes %></p>
    <% end %>

    <p>Please follow this link: <%= link_to 'Enter Response', new_record_response_path(@record) %> </p>
  </body>
</html>
