<%= link_to '<< Back', study_path(@study) %>
<h1>Collected Records for <%= @study.title %></h1>

<% if @study.records.empty? %>
  <p>No data collection events have been sent out yet.</p>
<% else %>
  <% @study.records.each do |record| %>
    <li><%= link_to record.created_at, study_record_path(@study, record) %></li>
  <% end %>
<% end %>
