<h1>Studies Dashboard</h1>
<p>Manage your existing studies.</p>

<div class='container-fluid studies-container'>
  <div class='row'>
    <div class='col-2 studies-col'>
      <h3>Current Studies</h3>
      <% if @studies.any? %>
      <ol>
        <% @studies.each do |study| %>
        <li><%= link_to study.title, study_path(study) %></li>
        <% end %>
      </ol>
      <% else %>
        <p>You have not created any studies yet!</p>
      <% end %>
    </div>
    <div class='col-2 studies-col'><h3><%= link_to 'Create New Study', new_study_path %></h3></div>
  </div>
</div>
