<section class='full-page screen-one'>
  <nav class='top-right-nav'>
    <%= link_to 'Register', new_user_registration_path, method: :get, class: 'btn' %>
    <%= link_to 'Log In', new_user_session_path, method: :get, class: 'btn' %>
  </nav>
  <main class='main-copy'>
    <p class='title'>They said money <br>couldn’t buy happiness.</p>
    <p class='description'>
      Hippo makes companies happier.
      We use a combination of data analytics and
      academic insights to find costless (or nearly costless)
      ways to increase happiness and decrease unhappiness.
    </p>
    <a href='#' class='learn-more-button'>Learn More</a>
  </main>
</section>
<!-- EMBEDDED GOOGLE FORM -->
<section class='full-page screen-two'>
  <article class='form-container'>
    <p class='register-interest'>Register your interest now</p>
    <%= render 'google_form' %>
  </article>
</section>
