<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Wellbeing Survey, <%= @participant.first_name %></h1>
    <p>You will be receiving periodic communications via email and/or mobile phone.</p>
    <p>When you receive a prompt to record your mental state, please follow the instructions.</p>
    <p>Your responses are always anonymized.</p>
    <p>If you have any questions please contact the study administrator: <%= @study.user.email %></p>
  </body>
</html>
