// @import "bootstrap-sprockets";
@import "bootstrap";

.btn {
  background-color: #2E222B;
  background-image: none;
  border-radius: 0px;
  border: 0;
  color: #FFF;
  text-shadow: none;
}

main {
  width: 70%;
  min-width: 600px;
  height: 100%;
  min-height: 500px;
  margin: auto;
  border-color: #92BA65;
  border-style: solid;
  border-width: 1px;
  margin-top: 50px;
}
