@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,100italic);
@import 'reset';

.btn {
  padding: 20px;
  background-color: transparent;
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
}

.full-page {
  width: 100%;
  height: 100%;
  min-height: 1024px;
  &.screen-one {
    background-image: image-url('balloon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lato', sans-serif;
  }
}

.top-right-nav {
  float: right;
  padding: 20px;
}

.main-copy {
  height: 20%;
  width: 40%;
  top: 500px;
  left: 10%;
  position: relative;
  min-height: 200px;
  padding: 40px;
  background: RGBA(255, 255, 255, 0.2);
  .title {
    color: rgba(52,52,52,1);
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1.1em;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .description {
    color: rgba(52,52,52,1);
    padding-right: 20px;
    font-size: 1.1em;
    line-height: 1.4em;
    font-weight: lighter;
  }
  .learn-more-button {
    position: relative;
    display: block;
    height: 30px;
    width: 162px;
    margin-top: 20px;
    background-color: rgba(254,173,0,0.5);
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    padding: 20px 30px 20px 30px;
  }
}

.screen-two {
  background-color: rgba(215,215,215,0.4);
  .form-container {
    position: relative;
    top: 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .register-interest {
      font-size: 1.5em;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      color: rgba(51,51,51,1);
      min-width: 500px;
      font-weight: normal;
    }
  }
}

::-webkit-input-placeholder { color:white; }
::-moz-placeholder { color:white; } /* firefox 19+ */
:-ms-input-placeholder { color:white; } /* ie */
input:-moz-placeholder { color:white; }

.form-container {
  #entry_123830339, #entry_2029205802 {
    background-color: rgba(65,65,65,0.4);
    border: 0;
    width: 360px;
    padding: 10px;
    font-size: 1.4em;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 20px;
  }
  #ss-submit {
    background-color: rgba(254,173,0,0.75);
    border: 0;
    width: 380px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 20px;
  }
}
