<!DOCTYPE html>
<html>
<head>
  <title>WellbeingMeasure</title>
  <%= stylesheet_link_tag 'static' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <%= yield %>

</body>
</html>
